<div [formGroup]="projectForm">
  <div formArrayName="projectLecturers">

    <div *ngFor="let projectLecturer of projectLecturers.controls; let i=index" [formGroupName]="i">
      <app-project-lecturer-item
        [i]="i"
        [project]="project"
        [projectForm]="projectForm"
        [dropDownLecturers]="dropDownLecturers"
        [projectLecturerControl]="projectLecturer"
        [projectLecturer]="project?.lecturers[i]"
        [submitted]="submitted"></app-project-lecturer-item>
    </div>


  </div>
</div>

<div class="flex justify-content-start mt-2">
  <button pButton pRipple class="p-button-sm p-button-outlined p-button-raised p-button-rounded" (click)="addProjectLecturer()">
    Vortragende hinzufügen<i class="pi pi-plus-circle ml-1"></i></button>
</div>
