<div class="card flex justify-content-center">
    <p-button  (click)="openDialog()" icon="pi pi-pencil"
               styleClass="p-button-secondary"></p-button>
  
    <p-dialog header="Projektart aktualisieren" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
              [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
      <form [formGroup]="createForm">
  
        <div class="mb-4">
          <label for="name" class="block text-900 font-medium mb-2">Name</label>
          <input id="name" formControlName="name" type="text" placeholder={{this.projectCategory.name}} pInputText pAutoFocus [autofocus]="true" class="w-full">
  
          <div style="position: relative">
            <small style="position: absolute" *ngIf="name.hasError('required') && (name.touched || submitted)">Name ist erforderlich</small>
          </div>
        </div>
  
        <div class="flex justify-content-end">
          <p-button  (click)="submit()" pRipple label="Aktualisieren" [loading]="loading" icon="pi pi-save"
                     styleClass="p-button-primary"></p-button>
        </div>
  
      </form>
    </p-dialog>
  </div>