<div class="card flex justify-content-center">
    <p-button  (click)="openDialog()" pRipple label="Projektart anlegen" icon="pi pi-plus"
               styleClass="p-button-primary"></p-button>

    <p-dialog header="Projektart anlegen" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
              [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
      <form [formGroup]="createForm">

        <div class="mb-4">
          <label for="name" class="block text-900 font-medium mb-2">Projektart</label>
          <input id="name" formControlName="name" type="text" placeholder="Name" pInputText pAutoFocus [autofocus]="true" class="w-full">

          <div style="position: relative">
            <small style="position: absolute; color: red" *ngIf="name.hasError('required') && (name.touched || submitted)">Name ist erforderlich</small>
          </div>
        </div>
    
        <div class="mb-4">
          <label for="code" class="block text-900 font-medium mb-2">Abkürzung</label>
          <input id="code" formControlName="code" type="text" placeholder="Abkürzung" pInputText pAutoFocus [autofocus]="true" class="w-full">

          <div style="position: relative">
            <small style="position: absolute; color: red" *ngIf="code.hasError('required') && (code.touched || submitted)">Abkürzung ist erforderlich</small>
          </div>
        </div>

        <div class="mb-4">
          <label for="code" class="block text-900 font-medium mb-2">Kurs</label>
          <p-dropdown 
          (onChange)="onSelectionChange($event?.value)" 
          appendTo="body" 
          placeholder="Option"
          [style]="{'width':'100%'}" 
          id="yesNoOptions" 
          [options]="yesNoOptions" 
          optionLabel="label">
          <ng-template let-option pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ option.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        </div>

        <div class="flex justify-content-end">
          <p-button  (click)="submit()" pRipple label="Erstellen" [loading]="loading" icon="pi pi-save"
                     styleClass="p-button-primary"></p-button>
        </div>

      </form>
    </p-dialog>
  </div>