<div class="flex align-items-end gap-4 mb-3" >
  <h1 class="m-0">Projekte</h1>
  <p-button *ngIf="authService.user.role != ERole.ADMIN" routerLink="new-project" pRipple label="Projekt anlegen" class="p-button-outlined p-button-raised"></p-button>
</div>

<div style="margin-top: 2em;" class="grid" *ngIf="(projectService.projects$|async) && !(projectService.loading$|async); else loadingSpinner">
  <div *ngFor="let project of projectService.projects$|async"
       class="col-12 md:col-6 lg:col-3 xl:col-2">
       
       <div *ngIf="!is_opened; else isOpenedContent" pBadge value="neu" severity="success" class="pitext-3xl surface-card shadow-2 p-3 border-round flex flex-column align-items-center cursor-pointer"
       [ngClass]="{'unopened-project': !project.opened}">

       <ng-template #isOpenedContent>
        <div class="pitext-3xl surface-card shadow-2 p-3 border-round flex flex-column align-items-center cursor-pointer"
        [ngClass]="{'unopened-project': !project.opened}"></div>
       </ng-template>

        <a [routerLink]="'' + project.id" style="text-decoration: none">
          <span *ngIf="authService.user.role == ERole.ADMIN; else notAdminContent" class="block text-500 text-center font-medium mb-2">{{project.faculty.name}}</span>
          <ng-template #notAdminContent>
            <span class="block text-500 text-center font-medium mb-2">{{project.projectType.name}}</span>
          </ng-template>
          <span class="block text-900 text-center font-medium text-xl mb-2">{{project.name}}</span>
          <span class="block text-center text-500">{{project.costs|currency:"EUR"}}</span>
        </a>

        <app-export-buttons [project]="project" class="mt-4"></app-export-buttons>
     
    </div>
  </div>
</div>

<!--<div class="flex gap-4" *ngIf="projectService.projects$|async; else loadingSpinner">-->
<!--  <div *ngFor="let project of projectService.projects$|async"-->
<!--       class="card border-1">-->
<!--    <p class="">{{project.name}}</p>-->
<!--  </div>-->
<!--</div>-->

<ng-template #loadingSpinner>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<p-toast></p-toast>
