<app-project-form *ngIf="(projectTypeService.models$|async)
              && (expenseService.models$|async)
              && (lecturerService.models$|async) && (companyService.models$|async); else loadingSpinner"
                  (submitEmitter)="create()"
                  (formChangesEmitter)="formChanges($event)"
                  (costChangesEmitter)="costChanges($event)"
                  [submitted]="submitted"
                  [title]="'Neues Projekt'"
                  [submitLabel]="'Projekt erstellen'"
                  [loading]="loading">
</app-project-form>

<ng-template #loadingSpinner>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
