<app-auth-container [title]="'Willkommen!'">
  <form [formGroup]="loginForm">
    <label for="email" class="block text-900 font-medium mb-2">Benutzer</label>
    <input id="email" formControlName="email" type="text" placeholder="E-Mail-Adresse" pInputText pAutoFocus [autofocus]="true" class="w-full mb-3">

    <label for="password" class="block text-900 font-medium mb-2">Passwort</label>
    <input id="password" formControlName="password" type="password" placeholder="Passwort" pInputText class="w-full mb-3">

    <div class="flex align-items-center justify-content-between mb-4">
      <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Passwort vergessen?</a>
    </div>

    <div class="card flex justify-content-center">
      <p-button pRipple label="Log in" [loading]="loading" (click)="submit()"></p-button>
    </div>

  </form>
</app-auth-container>
<p-toast></p-toast>
