<div class="card flex justify-content-center">
  <p-button  (click)="openDialog()" pRipple label="Fakultätsmitarbeiter anlegen" icon="pi pi-plus"
             styleClass="p-button-primary"></p-button>

  <p-dialog header="Mitarbeiter anlegen" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
    <form [formGroup]="createForm">

      <div class="mb-4">
        <label for="email" class="block text-900 font-medium mb-2">E-Mail</label>
        <input id="email" formControlName="email" type="text" placeholder="E-Mail-Adresse" pInputText pAutoFocus [autofocus]="true" class="w-full">

        <div style="position: relative">
          <small style="position: absolute" *ngIf="email.hasError('required') && (email.touched || submitted)">Gültiges E-Mail Format erforderlich</small>
          <small style="position: absolute" *ngIf="email.hasError('email') && (email.touched || submitted)">Gültiges E-Mail Format erforderlich</small>
        </div>
      </div>

      <div class="card">
        <label for="faculties" class="block text-900 font-medium mb-2">Fakultät</label>
          <p-dropdown formControlName="faculty" (onChange)="selectedFaculty($event?.value)" placeholder="Arbeitende Fakultät" appendTo="body" [style]="{'width':'100%'}" id="faculties"
          [options]="facultyService.models$|async" optionLabel="name">
          <ng-template let-faculty pTemplate="item">
              <div [style]="{'width':'46vw'}" class="flex align-items-center gap-2">
                <div>{{ faculty.name }}</div>
                </div>
          </ng-template>
          </p-dropdown>
        <div style="position: relative">
          <small style="position: absolute" *ngIf="facultyControl.hasError('required') && (facultyControl.touched || submitted)">Eine Fakultät muss ausgewählt werden</small>
        </div>
      </div>

      <div class="flex justify-content-end" [style]="{ 'margin-top': '2em'}">
        <p-button  (click)="submit()" pRipple label="Erstellen" [loading]="loading" icon="pi pi-save"
                   styleClass="p-button-primary"></p-button>
      </div>

    </form>
  </p-dialog>
</div>
