<div class="flex">
  <p-megaMenu [model]="items" orientation="vertical" styleClass="admin-menu">
    <ng-template pTemplate="start">
      <div class="flex justify-content-center">
        <img src="assets/images/logo-transparent.png" height="65"  alt="FH Logo"/>
        <img src="assets/images/logo-innovations-transparent.png" height="65"  alt="Innovations Logo"/>
      </div>
    </ng-template>
  </p-megaMenu>

  <div class="page-content p-4">
<!--    <p-card>-->
      <router-outlet></router-outlet>
<!--    </p-card>-->
  </div>
</div>
