<div [formGroup]="projectForm">
  <div formArrayName="projectExpenses">

    <div *ngFor="let projectExpense of projectExpenses.controls; let i=index" class="flex align-items-start mb-2" [formGroupName]="i">

      <div class="flex align-items-end flex-wrap gap-4 mb-1 w-full">

        <input type="hidden" [value]="i" formControlName="id">

        <div class="flex flex-column align-items-start gap-2">
          <label [for]="!project ? 'new-project-expense-' + i : 'project-' + project.id + '-' + 'expense-' + i">
            Aufwandsart
          </label>

          <p-dropdown [id]="!project ? 'new-project-expense-' + i : 'project-' + project.id + '-' + 'expense-' + i"
                      formControlName="expense"
                      [options]="expenseService.models$|async"
                      optionLabel="name"
                      [style]="{'width':'200px'}"
                      placeholder="Auswählen"></p-dropdown>

        </div>

        <span class="p-float-label">
          <p-inputNumber [inputId]="!project ? 'new-project-expense-costs-' + i : 'new-project-' + project.id + '-' + 'expense-costs-' + i"
                           formControlName="costs"
                           class="flex-grow-1"
                           mode="currency"
                           currency="EUR"
                           locale="de-DE"
                           placeholder="€"></p-inputNumber>
          <label [for]="!project ? 'new-project-expense-costs-' + i : 'new-project-' + project.id + '-' + 'expense-costs-' + i">
            Kosten
          </label>
          <small *ngIf="costs(i)?.errors?.required && submitted" class="p-error">
            Kosten sind erforderlich.
          </small>
        </span>

        <button pButton pRipple type="button" icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined" (click)="removeProjectExpense(i)"></button>

      </div>

    </div>

  </div>
</div>

<div class="flex justify-content-start mt-2">
  <button pButton pRipple class="p-button-sm p-button-outlined p-button-raised p-button-rounded" (click)="addProjectExpense()">
    Aufwand hinzufügen<i class="pi pi-plus-circle ml-1"></i></button>
</div>
