<app-auth-container [title]="'Ändere dein Passwort'">
  <form [formGroup]="cpForm">
    <label for="email" class="block text-900 font-medium mb-2">Benutzer</label>
    <input id="email" formControlName="email" type="text" placeholder="E-Mail-Adresse" pInputText class="w-full mb-3">

    <label for="password" class="block text-900 font-medium mb-2">Passwort</label>
    <input id="password" formControlName="password" type="password" pInputText class="w-full mb-3">

    <label for="passwordConfirmation" class="block text-900 font-medium mb-2">Passwort Wiederholung</label>
    <input id="passwordConfirmation" formControlName="passwordConfirmation" type="password" pInputText class="w-full mb-3">

    <div class="card flex justify-content-center">
      <p-button pRipple label="Passwort ändern" [loading]="loading" (click)="submit()"></p-button>
    </div>

  </form>
</app-auth-container>
<p-toast></p-toast>
