<app-auth-container [title]="'Ändere dein Passwort'">
  <form [formGroup]="cpForm">
    <label for="email" class="block text-900 font-medium mb-2">Benutzer</label>
    <input id="email" formControlName="email" type="text" placeholder="E-Mail-Adresse" pInputText class="w-full mb-3">

    <label for="password" class="block text-900 font-medium mb-2">Passwort</label>
    <input id="password" formControlName="password" type="password" pInputText class="w-full mb-1">
    

    <label for="passwordConfirmation" class="block text-900 font-medium mb-2">Passwort Wiederholung</label>
    <input id="passwordConfirmation" formControlName="passwordConfirmation" type="password" pInputText class="w-full mb-3">

    <small class="block text-red-600 mb-2" *ngIf="cpForm.hasError('passwordMismatch') && submitted">
      Die Passwörter stimmen nicht überein. 
    </small>

    <small class="block text-red-600 mb-2" *ngIf="cpForm.hasError('invalidPassword') && submitted">
      Das Passwort entspricht nicht den untenstehenden Richtlinien.
    </small>

    <small class="block text-700 mb-2">Das Passwort muss aus mindestens 8 Zeichen bestehen und folgende Anforderungen erfüllen:
      <ul class="list-disc">
        <li>Mindestens 1 Großbuchstabe (A-Z)</li>
        <li>Mindestens 1 Kleinbuchstabe (a-z)</li>
        <li>Mindestens 1 Zahl (0-9)</li>
        <li>Mindestens 1 Sonderzeichen</li>
      </ul>
    </small>
    
    <div class="card flex justify-content-center" [style.margin-top.px]="password.hasError('required') && (password.touched || submitted) ? '2em' : '0'">
      <p-button pRipple label="Passwort ändern" [loading]="loading" (click)="submit()" class="bg-red-600 text-white"></p-button>
    </div>

  </form>
</app-auth-container>
<p-toast></p-toast>
