<div [formGroup]="projectForm">
  <div formArrayName="otherExpenses">

    <div *ngFor="let otherExpenses of otherExpenses.controls; let i=index" class="flex align-items-start mb-4" [formGroupName]="i">

      <div class="flex align-items-end flex-wrap gap-4 mb-1 w-full">

        <input type="hidden" [value]="i" formControlName="id">

        <p-floatLabel>
          <input pInputText [id]="!project ? 'new-other-expense-name-' + i : 'project-' + project.id + '-' + 'other-expense-name-' + i"
                 formControlName="name" />
          <label [for]="!project ? 'new-other-expense-name-' + i : 'project-' + project.id + '-' + 'other-expense-name-' + i">Bezeichnung</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-inputNumber [inputId]="!project ? 'new-other-expense-costs-' + i : 'new-project-' + project.id + '-' + 'other-expense-costs-' + i"
                         formControlName="costs" mode="currency" currency="EUR"
                         locale="de-DE" />
          <label [for]="!project ? 'new-other-expense-costs-' + i : 'new-project-' + project.id + '-' + 'other-expense-costs-' + i">Kosten</label>
        </p-floatLabel>

        <button pButton pRipple type="button" icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined" (click)="removeOtherExpense(i)"></button>

      </div>

    </div>

  </div>
</div>

<div class="flex justify-content-start mt-2">
  <button pButton pRipple class="p-button-sm p-button-outlined p-button-raised p-button-rounded" (click)="addOtherExpense()">
    Zusätslichen Aufwand hinzufügen<i class="pi pi-plus-circle ml-1"></i></button>
</div>
