<div class="flex align-items-center flex-wrap gap-4 mb-4">
    <h1 class="m-0">Kunden</h1>
    <app-companies></app-companies>
  </div>
  <app-loading-spinner *ngIf="(companyService.loading$|async)"></app-loading-spinner>
  <div class="card" *ngIf="!(companyService.loading$|async) && (companyService.models$|async)">
    <p-table [value]="(companyService.models$|async)">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="image" style="width:20%">Firmenbild <p-sortIcon field="image"></p-sortIcon></th>
          <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th>Bearbeiten</th>
          <th>Löschen</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-company>
        <tr (click)="navigateToDetails(company)" style="cursor: pointer;">
            <td><img src="{{company.image_url}}" alt="Company Image" width="100" height="100"></td>
          <td>{{company.name}}</td>
          <td >
            <app-update-company style="display: flex !important;" [company]="company" (click)="$event.stopPropagation()"></app-update-company>
          </td>
          <td>
            <app-delete-company [company]="company" (click)="$event.stopPropagation()"></app-delete-company>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
