<div class="flex align-items-center flex-wrap gap-4 mb-4">
  <h1 class="m-0">Fakultäten</h1>
  <app-faculties></app-faculties>
</div>
<app-loading-spinner *ngIf="(facultyService.loading$|async)"></app-loading-spinner>
<div class="card" *ngIf="!(facultyService.loading$|async) && (facultyService.models$|async)">
  <p-table [value]="(facultyService.models$|async)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="priceForCoursePerDay">Preis für Kurs pro Tag<p-sortIcon field="priceForCoursePerDay"></p-sortIcon></th>
        <th style="width:20%">Bearbeiten</th>
        <th>Löschen</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-faculty>
      <tr>
        <td>{{faculty.id}}</td>
        <td>{{faculty.name}}</td>
        <td>{{faculty.priceForCoursePerDay}}</td>
        <td>
          <app-faculty-update [faculty]="faculty"></app-faculty-update>
<!--          <button (click)="editFaculty(faculty)">Bearbeiten</button>-->
        </td>
        <td>
          <app-faculty-delete [faculty]="faculty"></app-faculty-delete>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
