<div class="flex align-items-start gap-4" [formGroup]="formGroup">
  <p-inputSwitch [styleClass]="'mt-1'" formControlName="activated"/>
  <div class="flex flex-column">
    <input type="text" pInputText formControlName="email" placeholder="E-Mail-Adresse" style="width: 300px"/>
    <small *ngIf="email.errors" class="p-error">Ungültige E-Mail-Adresse.</small>
  </div>
  <p-button label="Änderungen speichern" [disabled]="!formChanges() || formGroup.invalid" [loading]="loading"
            (click)="update()"/>
</div>
