<div class="flex justify-content-between gap-5 mb-4">
  <div>Dauer: {{duration}} Tage</div>
  <div>Teilnehmeranzahl: {{participants}}</div>
  <div>Preis/Telnehmer: {{priceForCoursePerDay | currency:"EUR"}}</div>
</div>

<div class="flex flex-wrap justify-content-between gap-6">


  <div class="font-light text-right flex flex-column align-items-end">
    <strong>Kvar</strong>
    <div *ngFor="let otherExpense of variableOtherExpenses"
         class="flex gap-3 text-sm">
      <span>{{ otherExpense.name }}</span>
      <span>{{ otherExpense.costs | currency: "EUR" }}</span>
    </div>
    <hr class="w-full">
    <span>{{ variableOtherExpensesCosts| currency: "EUR" }}</span>
  </div>

  <div class="font-light text-right flex flex-column align-items-end">
    <strong>Kfix</strong>
    <div class="flex gap-3 text-sm">
      <span>Vortragende</span>
      <span>{{ Utils.getLecturersCosts(projectLecturers) | currency: "EUR" }}</span>
    </div>
    <div *ngFor="let projectExpense of projectExpenses"
         class="flex gap-3 text-sm">
      <span>{{ projectExpense.expense.name }}</span>
      <span>{{ projectExpense.costs | currency: "EUR" }}</span>
    </div>
    <div *ngFor="let otherExpense of fixOtherExpenses"
         class="flex gap-3 text-sm">
      <span>{{ otherExpense.name }}</span>
      <span>{{ otherExpense.costs | currency: "EUR" }}</span>
    </div>
    <hr class="w-full">
    <span>{{ allFixedCosts| currency: "EUR" }}</span>
  </div>

  <div class="font-light text-right flex flex-column align-items-end">
    <strong>Kalkulation</strong>
    <div class="text-sm text-right flex flex-column align-items-end">
      <div class="flex gap-3">
        <span>Anzahl TN</span>
        <span>{{ participants }}</span>
      </div>
      <div class="flex gap-3">
        <span>Einnahmen/TN</span>
        <span>{{ priceForCoursePerDay | currency : "EUR" }}</span>
      </div>
<!--      <div class="flex gap-3">-->
<!--        <span>Erlösschmälerung</span>-->
<!--        <span></span>-->
<!--      </div>-->
      <div class="flex gap-3">
        <span>Dauer</span>
        <span>{{ duration }}</span>
      </div>
      <hr class="w-full">
      <div class="flex gap-3">
        <span>Nettoumsatz</span>
        <span>{{ revenue | currency: "EUR" }}</span>
      </div>
      <div class="flex gap-3">
        <span>- Kvar</span>
        <span>{{ variableOtherExpensesCosts | currency: "EUR" }}</span>
      </div>
      <hr class="w-full">
      <div class="flex gap-3">
        <span>DB 1</span>
        <span>{{ db1 | currency: "EUR" }}</span>
      </div>
      <div class="flex gap-3">
        <span>DBU 1</span>
        <span>{{ dbU1 | number : '1.2-2' }} %</span>
      </div>
      <div class="flex gap-3">
        <span>- Kfix</span>
        <span>{{ allFixedCosts | currency: "EUR" }}</span>
      </div>
      <hr class="w-full">
      <div class="flex gap-3">
        <span>DB 2</span>
        <span>{{ db2 | currency: "EUR" }}</span>
      </div>
      <div class="flex gap-3">
        <span>DBU 2</span>
        <span>{{ dbU2 | number : '1.2-2' }} %</span>
      </div>
    </div>
  </div>


</div>


