<div class="card flex justify-content-center">
    <p-button  (click)="openDialog()" pRipple label="Kunden anlegen" icon="pi pi-plus"
               styleClass="p-button-primary"></p-button>

    <p-dialog header="Kunden anlegen" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
              [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
      <form [formGroup]="createForm">
        <div class="mb-4">
            <label for="name" class="block text-900 font-medium mb-2">Kunde</label>
            <input id="name" formControlName="name" type="text" placeholder="Name" pInputText pAutoFocus [autofocus]="true" class="w-full">
  
            <div style="position: relative">
              <small style="position: absolute; color: red" *ngIf="name.hasError('required') && (name.touched || submitted)">Name ist erforderlich</small>
            </div>
          </div>

        <div class="mb-4">
            <label for="image" class="block text-900 font-medium mb-2">Kundenbild</label>
            <p-fileUpload 
                #fileUpload
                name="image" 
                accept="image/*" 
                (onSelect)="onFileSelected($event)" 
                chooseLabel="Datei auswählen" 
                auto="true"
                class="w-full">
            </p-fileUpload>


            <div style="position: relative">
              <small style="position: absolute; color: red" *ngIf="image.hasError('required') && (image.touched || submitted)">Kundenbild ist erforderlich</small>
            </div>
          </div>

        <div class="flex justify-content-end">
          <p-button  (click)="submit()" pRipple label="Erstellen" [loading]="loading" icon="pi pi-save"
                     styleClass="p-button-primary"></p-button>
        </div>

      </form>
    </p-dialog>
  </div>